[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/nevertheaxolot/psxrecomp-function-android-.git
	branch = android-changes
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
	branch = master
